<?xml version="1.0"?>
            <configuration>
                <appSettings>
                  <!-- 连接字符串 -->
                  <add key="ConnectionString" value="User ID=root;Database=myee; Password=123456; Host=localhost; Port= 3306;Protocol=TCP; Compress=false; Pooling=true; Min Pool Size=0;Max Pool Size=100; Connection Lifetime=0;Charset=utf8 "/>
               </appSettings>
                <system.web>
                    <compilation debug="true" targetFramework="4.0" />
                    <globalization requestEncoding="utf-8" responseEncoding="utf-8"   fileEncoding="utf-8" />
                </system.web>
            </configuration>
